PLA6113 Exploring Urban Data with Machine Learning
<br>
Wednesday January 13th, 2020
# Lab 01: Intro to Python for ML
# SECTION 1:

## 1. Check your Python version

In [ ]:
import platform
print(platform.python_version())

## 2. Code, output, and markdown

In [1]:
10 + 2

12

10 + 2 = 12

In [2]:
20 + 40

60

We just calculated 20 + 40 and got a result, 60.

## 3. Basic math

Python can handle basic math operations. Letâ€™s have a try:

In [3]:
1 * 2

2

Let's see how order affects how code is run:

## 4. Variables

Assigning variables: 
<br>
when assignining variables you can use "=" to assign variables:

In [6]:
A = 100
B = 3
a,b,c = 5,6,7

In [7]:
print(A)
print(b)

100
6

Reassigning variables:

In [8]:
a = 40
print(a)

40

## 5. Data Types
Getting the Data Type
<br>
You can get the data type of any object by using the type() function:
### 5-1. String

In [9]:
c = 'hello world'
type(c)

str

### 5-2. Integer

In [10]:
n = 5
type(n)

int

In [11]:
n = '5'
type(n)

str

### 5-3. Float

In [12]:
c = 1.5
type(c)

float

### 5-4. List
A collection which is ordered and changeable. Allows duplicate members.

In [13]:
x = ['e','f','g']
type(x)

list

In [14]:
print(x)

['e', 'f', 'g']

In [15]:
print(x[0])

e

In [16]:
print(x[1])

f

__Task. Create and assign variable of a list with five different five different countries.__
* Print the first and the last items.
* Replace the third item to your last name.
* Print the list.

In [17]:
print(x[2])

g

### 5-4. Tuple
A collection which is ordered and unchangeable. Allows duplicate members.

In [19]:
x = ('a','b','c')
type(x)

tuple

In [20]:
x[0]

'a'

### 5-5. Dictionary
A collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [24]:
x = {'city':'NYC', 'state':'NY', 'country':'USA'}
type(x)

dict

In [25]:
x['city']

'NYC'

In [27]:
x.get('state')

'NY'

In [28]:
x['country'] = 'United States'
print(x)

{'city': 'NYC', 'state': 'NY', 'country': 'United States'}

### 5-6. Boolean
In programming you often need to know if an expression is True or False. You can evaluate any expression in Python, and get one of two answers, True or False. When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [30]:
print(10 > 60)

False

## 6. Range
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.
* Syntax: range(start, stop, step)

In [31]:
r = list(range(5))
print(r)

[0, 1, 2, 3, 4]

In [32]:
r = list(range(3,6))
print(r)

[3, 4, 5]

In [33]:
r = list(range(3, 20, 2))
print(r)

[3, 5, 7, 9, 11, 13, 15, 17, 19]

__Task. Create a list with a sequence of numbers from 5 to 50, increment by 15, using range().__

In [35]:
r = list(range(5, 51, 15))
print(r)

[5, 20, 35, 50]

## 7. Calling Fuctions

In [36]:
x = list(range(15))
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [38]:
sum(x)

105

__Task. Create a list with a sequence of numbers from 3 to 31, increment by 4, using range() and print mean value of the items.__
* Create a list and assign variable.
* Assign variables using calling functions based on needs (e.g. min, max, sum, or len)
* Pring mean value of the items in the list using mathematical expression.

## 8. Writing Functions
A function is a block of code which only runs when it is called. You can pass data, known as parameters, into a function. A function can return data as a result.

In [39]:
def myfunc():
    print('abcde')

In [40]:
myfunc()

abcde

In [41]:
def myfunc(x,y):
    return x*y

In [42]:
myfunc(5,15)

75

In [44]:
myfunc(3.3, 143)

471.9

__Task. Write a function to return average value of items in a list.__

## 9. Control Statement

In [46]:
a = 30
b = 300
if b>a:
    print("b > a")

In [47]:
a = 30
b = 30
if b>a:
    print("b > a")
elif a == b:
    print("b = a")

b = a

In [49]:
a = 300
b = 30
if b>a:
    print("b > a")
elif a == b:
    print("b = a")
else: 
    print("a > b")

a > b

## 10. For loops
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string). This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages. With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [50]:
for i in range(6): 
    print(i)

0
1
2
3
4
5

In [51]:
colors = ('red', 'yellow', 'blue')
fruits = ('apple', 'banana', 'orange')

for c in colors: 
    for f in fruits: 
        print(c, f)

red apple
red banana
red orange
yellow apple
yellow banana
yellow orange
blue apple
blue banana
blue orange

# SECTION 2: Essential Libararies and Tools
* NumPy
* Pandas
* scikit-learn
* Very simple and basic machine learning example (pending)

## 1. NumPy
NumPy is one of the fundamental packages for scientific computing in the browser. 
* Multimensional arrays
* High-level mathematical functions such as linear algebra operations
* Important, because the NumPy array is the fundamental data structure in scikit-learn (which will be mainly used for machine learning algorithms)
* Data will have to be converted to a NumPy array
* Core functionality: ndarray class, multidimensinal (n-dimensional) array
* All elements in the array must be of the same data type (e.g. int, str, float...)

In [ ]:
# Import the entire NumPy module
import numpy as np

### 1) Create a numpy array

### 2) Shape of matrix (array)

### 3) Indexing

### 4) Keep in mind that, unlike Python lists, NumPy arrays have a fixed type. 
This means, for example, that if you attempt to insert a floating-point value to an integer array, the value will be silently truncated.

### 5) Accessing array rows and columns.    
One commonly needed routine is accessing single rows or columns of an array. You can do this by combining indexing and slicing, using an empty slice marked by a single colon (:):

### 6) NumPy's arithmetic operators

### 7) Calling built-in functions

## 2. Pandas
Pandas is a Python library for data wrangling and analysis.
* Data structure called the DataFrame - modeled after the R DataFrame
* Simply, it is like a table, similar to an Excel spreadsheet
* Great range of methods to modify and operate on data tables
* SQL-like queries, joins of tables
* In contrast to NumPy, Pandas allows each column to have a separate data type (e.g. one for string, one for float, one for datetime etc.)
* Ingest from a variety of data file formats and data bases (SQL, Excel file, csv, json)

In [ ]:
# Import the entire pandas module
import pandas as pd

### 1) Excel

### 2) comma-separated values (CSV)
* We will mostly use this format

### 3) JSON file

* JSON stands for JavaScript Object Notation
* JSON is a lightweight format for storing and transporting data
* JSON is often used when data is sent from a server to a web page
* JSON is "self-describing" and easy to understand

__Example of JSON data__: an array of 3 employee records
![image.png](attachment:image.png)

__Exmaple of JSON data__: NYC311 data <br>
https://data.cityofnewyork.us/resource/erm2-nwe9.json

* JSON is good for using API based data acquisition with SQL-like query

In [ ]:
# Load libraries for the use of JSON and url
import urllib.request, json

In [ ]:
# Simply load top 1000 rows from url based JSON file
df = pd.read_json("https://data.cityofnewyork.us/resource/erm2-nwe9.json")

In [ ]:
df.head(2)

### 4) Dataframe basic

In [ ]:
df = pd.read_csv('../../data/311_Service_Requests_01062020.csv')

In [ ]:
# print column names

In [ ]:
# print total number of rows

In [ ]:
# check data types

In [ ]:
# print data header with certain columns

### 5) Downsize data with certain columns
Let's keep 6 columns used above ('Unique Key', 'Agency Name', 'Complaint Type', 'Incident Zip', 'Borough', and 'Created Date')

### 6) Print data by index
Let's keep 6 columns used above ('Unique Key', 'Agency Name', 'Complaint Type', 'Incident Zip', 'Borough', and 'Created Date')

### 7) Rename columns
Let's rename columne 'Incident Zip' to 'Zipcode'

### 8) Sort values

### 9) Print rows based on values

    Print rows where "Zipcode" is 10011 and "Complaint Type" is 'Illegal Parking'

### 10) Create new column

    Create column name 'count' with value 1 (integer)

### 11) Groupby

    A groupby operation involves some combination of splitting the object, applying a function, and combining the results. This can be used to group large amounts of data and compute operations on these groups.
    Let's groupby Borough to calculate how many 311 complaints were reported

### 12) Export your dataframe 

    Syntax: YOUR_DATAFRAME_NAME.to_csv('FILE_PATH')

# Assignment 01
### In this assignment we will be starting to work with Python. Please submit a python script and markdown using Jupyter notebook (.ipynb file) with your submission. File name should be "Lastname_Firstname_assignment01.ipynb" and submit to Canvas. Also provide step-by-step code for credit and do not forget to run your code before submitting.

* Donâ€™t forget to finish the lab started in the last leb session. 
* Please do not share works publicly on GitHub or other places until after the deadline.
* Some part of coding can be identical if you work in the same group but annotation/comment must be individual.

## 1. Finish setting up your Jupyter notebook and folders for this semester.
This is very trivial task but it will be really important to develop reproducible work pipilines. Please insert a screenshot of the "EUDML" folder of Jupyter notebook. There should be at least 4 different folders - data, script, output, and image. To embed image in markdwon cells, you can do ctrl+v your screenshot.

## 2. Create a function to calculate and categorize BMI index.
Body Mass Index (BMI) is a measure of body fat that applies to adult men and women. BMI is calculated by using weight and height information, and the calculated index is categorized as four different groups as follows.

$BMI = \frac{weight(kg)}{{height(m)}^{2}}$

BMI Categories:
* Underweight = <18.5
* Normal weight = 18.5â€“24.9
* Overweight = 25â€“29.9
* Obesity = BMI of 30 or greater 

Please create a function called BMIFunc in three arguments, weight, height, and gender to calculate the BMI of a given person and print one of BMI categories based on the above four groups. Please wirte a script to return the following example output if you take BMIFunc(60, 170, Female) as an input:

----- BMI Calculator -----
<br>
Gender: Female
<br>
Weigth: 60 (kg)
<br>
Height: 170 (cm)
<br>
BMI: 20.8
<br>
Category: Normal weight

## 3. Create a function with for loops taking an integer (n) as an input to print the following output.
[1]
<br>
[1]
<br>
[1,3]
<br>
[1,3,]
<br>
...
<br>
[1,3,5...n-2] (line number n-1) if n is odd OR [1,3,5...n-1] (line number n-1) if n is even
<br>
* If you take 7 for input, then you will have 
<br>
[1]
<br>
[1]
<br>
[1,3]
<br>
[1,3]
<br>
[1,3,5]
<br>
[1,3,5]
<br>
* If input is 6, then the output will be
<br>
[1]
<br>
[1]
<br>
[1,3]
<br>
[1,3]
<br>
[1,3,5]

Write a function below and test with input 50.

## 4. Create a function to get all available origin-destination combinations.
Let's assume there are 6 cities in the U.S., New York, Boston, Los Angeles, Seattle, Chicago, and San Francisco. Create a function called flightRoutes to print all available airline routes from origin cities to destination cities. There are few conditions to consider:
* The airport in Chicago is closed due to heavy snow, meaning flights cannot depart or arrive.
* Boston to Los Angeles is not available temporarily.
* Seattle to New York is not available temporarily.
* Use pass AND/OR break AND/OR countinue command.

<br>
Write your code below and provide your output. Ideal output would be similar to the followings:
<br>
Origin: New York - Destination: Boston
<br>
Origin: New York - Destination: Los Angeles
<br>
...

## 5. Write a code to return a list of prime numbers. 
A prime number is a positive integer which has no other factors except 1 and the number itself. For example 2, 3, 5, 7, 11, etc. are prime numbers, but 8 is not because 8 has four factors; 1, 2, 4, 8.

Please write a function to take a positive integer as an input to return a list of prime numbers less than the input integer. For example, if you take 10 as an input, then your code will return [2,3,5,7]. 

Write your code below and print your output of taking input integer 100.

Hint: please google and use Python operators %.