PLA6113 Exploring Urban Data with Machine Learning
<br>
Wednesday January 13th, 2021
# Lab 01: Intro to Python for ML
# SECTION 1:

## 1. Check your Python version

In [1]:
import platform
print(platform.python_version())

3.6.3

## 2. Code, output, and markdown

In [2]:
# We are trying to calculate 10+2
10+2

12

10 + 2 = 12

In [3]:
x = 20
y = 40
print (x + y) # print a result

60

We just calculated 20 + 40 and got a result, 60.

## 3. Basic math

Python can handle basic math operations. Letâ€™s have a try:

In [4]:
print (1 + 1)
print (1 + 2 + 3)
print (3 * 7 * 2)
print (4 / 2)

2
6
42
2.0

Let's see how order affects how code is run:

In [5]:
print (4 * 6 + 5)
print ((4 * 6) + 5)
print (4 * (6 + 5))

29
29
44

## 4. Variables

Assigning variables: 
<br>
when assignining variables you can use "=" to assign variables:

In [6]:
A = 100
B = 3
C = 15
a,b = 5,7
D = 'Hello world!' # Case sensitive
d = 'Hi there!'

In [7]:
print (a)
print (b)
print (D)
print (d)

5
7
Hello world!
Hi there!

Reassigning variables:

In [8]:
a = 20
print (a)

20

## 5. Data Types
Getting the Data Type
<br>
You can get the data type of any object by using the type() function:
### 5-1. String

In [9]:
x = "Columbia University GSAPP"
type(x)

str

### 5-2. Integer

In [10]:
x = 20
type(x)

int

In [11]:
# Make sure it's differnt, 2 and "2"
x = '20'
type(x)

str

### 5-3. Float

In [12]:
x = 3.7
type(x)

float

### 5-4. List
A collection which is ordered and changeable. Allows duplicate members.

In [13]:
x = ["New York", "Boston", "Chicago", "Los Angeles"]
type(x)

list

In [14]:
print (x[0])
print (x[1:3])
print (x[-1])

New York
['Boston', 'Chicago']
Los Angeles

In [15]:
# Change item value
x[1] = "Seattle"
print (x)

['New York', 'Seattle', 'Chicago', 'Los Angeles']

In [16]:
# Add item
x.append("Houston")
x

['New York', 'Seattle', 'Chicago', 'Los Angeles', 'Houston']

__Task. Create and assign variable of a list with five different five different countries.__
* Print the first and the last items.
* Replace the third item to your last name.
* Print the list.

In [17]:
# Take a couple minutes to do the following task by yourselves. 

myList = ['United States', 'Canada', 'Mexico', 'France', 'Sweden']
print (myList[0], myList[-1])

myList[2] = 'Your Lastname'

print (myList)

United States Sweden
['United States', 'Canada', 'Your Lastname', 'France', 'Sweden']

### 5-4. Tuple
A collection which is ordered and unchangeable. Allows duplicate members.

In [18]:
x = ("New York", "Boston", "Chicago", "Los Angeles")
type(x)

tuple

In [19]:
print (x[0])
print (x[1:3])
print (x[-1])

New York
('Boston', 'Chicago')
Los Angeles

In [20]:
# Unchangeable item value
# You will get an error once running the following code
x[1] = "Seattle"
print (x)

TypeError: 'tuple' object does not support item assignment

### 5-5. Dictionary
A collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [21]:
x = {"City": "New York", "State": "NY", "Country": "US"}
type(x)

dict

In [22]:
x["City"]

'New York'

In [23]:
x.get("City")

'New York'

In [24]:
# You can change the value of a specific item by referring to its key name:
x["Country"] = "United States"
x

{'City': 'New York', 'State': 'NY', 'Country': 'United States'}

### 5-6. Boolean
In programming you often need to know if an expression is True or False. You can evaluate any expression in Python, and get one of two answers, True or False. When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [25]:
print (10>6)
print (3>9)

True
False

## 6. Range
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.
* Syntax: range(start, stop, step)

In [26]:
x = list(range(5))
print (x)

[0, 1, 2, 3, 4]

In [27]:
# Create a sequence of numbers from 3 to 5, and print each item in the sequence:
x = list(range(3,6))
print (x)

[3, 4, 5]

In [28]:
# Create a sequence of numbers from 3 to 19, but increment by 2 instead of 1:
x = list(range(3, 20, 2))
print (x)

[3, 5, 7, 9, 11, 13, 15, 17, 19]

__Task. Create a list with a sequence of numbers from 5 to 50, increment by 15, using range().__

In [29]:
x = list(range(5,51,15))
print (x)

[5, 20, 35, 50]

## 7. Calling Fuctions

In [30]:
myList = list(range(15))
myList

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [31]:
# Minimum value
print (min(myList))

# Maximum value
print (max(myList))

# Sum of values
print (sum(myList))

# lenght of the list
print (len(myList))

0
14
105
15

__Task. Create a list with a sequence of numbers from 3 to 31, increment by 4, using range() and print mean value of the items.__
* Create a list and assign variable.
* Assign variables using calling functions based on needs (e.g. min, max, sum, or len)
* Pring mean value of the items in the list using mathematical expression.

In [32]:
myList = range(3, 32, 4)
a = sum(myList)
b = len(myList)

print (a/b)

17.0

## 8. Writing Functions
A function is a block of code which only runs when it is called. You can pass data, known as parameters, into a function. A function can return data as a result.

In [33]:
# Writing fuction
def myFunction():
    print("Welcome to Exploring Urban Data with Machine Learning")

In [34]:
# Use function
myFunction()

Welcome to Exploring Urban Data with Machine Learning

In [35]:
# Writing function
def myFunction(x,y):
    return x*y

In [36]:
myFunction(3,7)

21

In [37]:
# Writing function
def myFunction(x,y):
    a = x+y
    b = x-y
    c = x*y
    d = x/y
    return [a,b,c,d]

myFunction(8,2)

[10, 6, 16, 4.0]

__Task. Write a function to return average value of items in a list.__

In [38]:
def myFunction(inputList):
    print (sum(inputList)/len(inputList))

myFunction([2,4,6,8,10,12])

7.0

## 9. Control Statement

In [39]:
a = 33
b = 200

if b > a:
    print("b is greater than a")

b is greater than a

In [40]:
# The elif keyword is pythons way of saying "if the previous conditions 
# were not true, then try this condition".

a = 33
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")

a and b are equal

In [41]:
# The else keyword catches anything which isn't caught 
# by the preceding conditions.
a = 200
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

## 10. For loops
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string). This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages. With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [43]:
# Syntax
for item in something:
    do this
    do that
    ...

SyntaxError: invalid syntax (<ipython-input-43-dd94d32a2f4b>, line 3)

In [ ]:
for i in range(6):
    print (i)

In [ ]:
for fruit in ['apple', 'banana', 'tomato', 'orange']:
    print ("I like", fruit)

In [ ]:
# Print all combinations of lists
colors = ["red", "yellow", "pink"]
fruits = ["apple", "banana", "tomato", "orange"]

for x in colors:
    for y in fruits:
        print(x, y)

In [ ]:
# For loop with controlling statement 
for i in range(5):
    if i == 3:
        print (0)
    else:
        print (i)

In [44]:
# You can pass
for i in range(5):
    if i == 3:
        pass
    else:
        print (i)

0
1
2
4

In [45]:
# You can also break a script
for i in range(5):
    if i == 3:
        break
    else:
        print (i)

0
1
2

# SECTION 2: Essential Libararies and Tools
* NumPy
* Pandas
* scikit-learn
* Very simple and basic machine learning example (pending)

## 1. NumPy
NumPy is one of the fundamental packages for scientific computing in the browser. 
* Multimensional arrays
* High-level mathematical functions such as linear algebra operations
* Important, because the NumPy array is the fundamental data structure in scikit-learn (which will be mainly used for machine learning algorithms)
* Data will have to be converted to a NumPy array
* Core functionality: ndarray class, multidimensinal (n-dimensional) array
* All elements in the array must be of the same data type (e.g. int, str, float...)

In [ ]:
# Import the entire NumPy module
import numpy as np

### 1) Create a numpy array

In [ ]:
# Create 2 by 3 numpy array 
x = np.array([[1,2,3],
              [4,5,6]])

#print ("x:\n{}".format(x))
print (x)

### 2) Shape of matrix (array)

In [ ]:
print (x.shape)

### 3) Indexing

In [ ]:
# Array indexing
print (x[0])
print (x[1])
print (x[0][0])
print (x[1][2])

### 4) Keep in mind that, unlike Python lists, NumPy arrays have a fixed type. 
This means, for example, that if you attempt to insert a floating-point value to an integer array, the value will be silently truncated.

In [ ]:
# Try to replace value
x[0][1] = 5.7864 # will be truncated to ineger data type
print (x)

### 5) Accessing array rows and columns.    
One commonly needed routine is accessing single rows or columns of an array. You can do this by combining indexing and slicing, using an empty slice marked by a single colon (:):

In [ ]:
# First column
print (x[:, 0])  # first column of x2

# Third column
print (x[:, 2])

### 6) NumPy's arithmetic operators

In [ ]:
x = np.array([1,2,3,4,5,6])
print (x)

In [ ]:
print (x+3)
print (x-10)
print (x*3)

In [ ]:
# Absolute, log, exp values
# The inverse of the exponentials, the logarithms, are also available. 
# The basic np.log gives the natural logarithm; if you prefer to compute the base-2 logarithm or 
# the base-10 logarithm, these are available as well:

x = np.array([-10,5,-6,6,5,10])
print ("Original array: ",x)
print ("Absolute values: ", np.abs(x))
print ("Natural logarithm values: ", np.log(x))
print ("Base-10 logarithm values: ", np.log10(x))
print ("Exponential values: ", np.exp(x))
print ("Exponential values: ", np.round(np.exp(x),2))

### 7) Calling built-in functions

In [ ]:
x = np.array([[1,2,3,4,5],
             [2,3,4,5,6],
             [3,4,5,6,7]])
print (x)

In [ ]:
print (x.sum())
print (x.min())
print (x.argmin()) # Find index of minimum value 
print (x.max())
print (x.argmax()) # Find index of maximum value
print (x.mean())
print (x.std())

In [ ]:
# Or, NumPy functions can be used as other format like below
print (np.median(x))
print (np.sum(x))
print (np.min(x))
print (np.argmin(x))
print (np.mean(x))
print (np.std(x))

## 2. Pandas
Pandas is a Python library for data wrangling and analysis.
* Data structure called the DataFrame - modeled after the R DataFrame
* Simply, it is like a table, similar to an Excel spreadsheet
* Great range of methods to modify and operate on data tables
* SQL-like queries, joins of tables
* In contrast to NumPy, Pandas allows each column to have a separate data type (e.g. one for string, one for float, one for datetime etc.)
* Ingest from a variety of data file formats and data bases (SQL, Excel file, csv, json)

In [ ]:
# Import the entire pandas module
import pandas as pd

### 1) Excel

In [ ]:
# Load Excel file
# Usually df is uased for the name of pandas dataframe
df = pd.read_excel('../../data/311_Service_Requests_01062020_sample.xlsx')

### 2) comma-separated values (CSV)
* We will mostly use this format

In [ ]:
# Load csv file
# Usually df is uased for the name of pandas dataframe
df = pd.read_csv('../../data/311_Service_Requests_01062020.csv')

In [ ]:
df.head(2)
# df.tail()

### 3) JSON file

* JSON stands for JavaScript Object Notation
* JSON is a lightweight format for storing and transporting data
* JSON is often used when data is sent from a server to a web page
* JSON is "self-describing" and easy to understand

__Example of JSON data__: an array of 3 employee records
![image.png](attachment:image.png)

__Exmaple of JSON data__: NYC311 data <br>
https://data.cityofnewyork.us/resource/erm2-nwe9.json

* JSON is good for using API based data acquisition with SQL-like query

In [ ]:
# Load libraries for the use of JSON and url
import urllib.request, json

In [ ]:
# Simply load top 1000 rows from url based JSON file
df = pd.read_json("https://data.cityofnewyork.us/resource/erm2-nwe9.json")

In [ ]:
df.head(2)

### 4) Dataframe basic

In [ ]:
df = pd.read_csv('../../data/311_Service_Requests_01062020.csv')

In [ ]:
# print column names
print (df.columns.tolist())

In [ ]:
# print total number of rows
print (len(df))

In [ ]:
# check data types
print (df.dtypes)

In [ ]:
# print data header with certain columns
df[['Unique Key', 'Agency Name', 'Complaint Type', 'Incident Zip', 'Borough', 'Created Date']].head()

### 5) Downsize data with certain columns
Let's keep 6 columns used above ('Unique Key', 'Agency Name', 'Complaint Type', 'Incident Zip', 'Borough', and 'Created Date')

In [ ]:
df2 = df[['Unique Key', 'Agency Name', 'Complaint Type', 'Incident Zip', 'Borough', 'Created Date']]
df2.head(2)

### 6) Print data by index
Let's keep 6 columns used above ('Unique Key', 'Agency Name', 'Complaint Type', 'Incident Zip', 'Borough', and 'Created Date')

In [ ]:
df2.iloc[500:505]

### 7) Rename columns
Let's rename columne 'Incident Zip' to 'Zipcode'

In [ ]:
df2.rename(columns = {'Incident Zip':'Zipcode'}, inplace = True) 
df2.head(2)

### 8) Sort values

In [ ]:
df2.sort_values(by='Zipcode', ascending=True).head()

### 9) Print rows based on values

    Print rows where "Zipcode" is 10011 and "Complaint Type" is 'Illegal Parking'

In [ ]:
df2[(df2['Zipcode']=='10011') & (df2['Complaint Type']=='Illegal Parking')]

### 10) Create new column

    Create column name 'count' with value 1 (integer)

In [ ]:
df2['count'] = 1
df2.head(2)

### 11) Groupby

    A groupby operation involves some combination of splitting the object, applying a function, and combining the results. This can be used to group large amounts of data and compute operations on these groups.
    Let's groupby Borough to calculate how many 311 complaints were reported

In [ ]:
result = df2[['Borough', 'count']].groupby('Borough').count()
result

### 12) Export your dataframe 

    Syntax: YOUR_DATAFRAME_NAME.to_csv('FILE_PATH')

In [ ]:
result.to_csv('../output/result_example.csv')